@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@import url("components/container.css");

@import url("components/avatar.css");

@import url("components/button.css");

@import url("components/banner.css");

@import url("components/card.css");



body	{
	font-family: 'Lato', serif;
	font-size: 18px;
	background-color: rgba(44, 130, 201);
	text-align: center;
}

h1	{
	margin-top: 50px;
	margin-bottom: 10px;
	color: white;
}

hr	{
	color: silver;
	margin-top: 10px;
	margin-bottom: 30px;
}





